matplotlib==3.3.3
mlflow==1.13.1
nltk==3.5
numpy==1.19.5
numpyencoder==0.3.0
optuna==2.3.0
pandas==1.1.4
rich==6.2.0
scikit-multilearn==0.2.0
seaborn==0.11.0
sklearn==0.0
typer==0.3.2
wordcloud==1.8.1