dvc==2.43.1
fastapi==0.78.0
imbalanced-learn==0.8.1
mlflow==1.23.1
nltk==3.7
numpy==1.19.5
numpyencoder==0.3.0
optuna==2.10.0
pandas==1.3.5
rich==12.4.4
scikit-learn==0.24.2
snorkel==0.9.8
streamlit==1.10.0
typer==0.4.1
uvicorn==0.17.6
