dvc[s3]==2.0.5
fastapi==0.63.0
matplotlib==3.2.2
mlflow==1.13.1
nltk==3.2.5
numpy==1.19.5
numpyencoder==0.3.0
optuna==2.4.0
pandas==1.1.5
pretty-errors==1.2.19
rich==9.9.0
scikit-multilearn==0.2.0
seaborn==0.11.1
sklearn==0.0
snorkel==0.9.6
streamlit==0.78.0
torch==1.7.0
typer==0.3.2
uvicorn[standard]==0.13.3
watchdog==2.0.2
wordcloud==1.5.0