[formatters]
keys=minimal,detailed

[formatter_minimal]
format=%(message)s

[formatter_detailed]
format=
    %(levelname)s %(asctime)s [%(filename)s:%(funcName)s:%(lineno)d]
    %(message)s

[handlers]
keys=console,info,error

[handler_console]
class=StreamHandler
level=DEBUG
formatter=minimal
args=(sys.stdout,)

[handler_info]
class=handlers.RotatingFileHandler
level=INFO
formatter=detailed
backupCount=10
maxBytes=10485760
args=("logs/info.log",)

[handler_error]
class=handlers.RotatingFileHandler
level=ERROR
formatter=detailed
backupCount=10
maxBytes=10485760
args=("logs/error.log",)

[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=console,info,error